<a href="https://colab.research.google.com/github/gmfv/YIO/blob/GioM/DatosArreglar_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importamos las librer√≠as numpy, pandas y matplotlib 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import seaborn as sb

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/gmfv/YIO/main/DatosHogares%20-%20Poblaci%C3%B3n%2C%20hogares%20por%20a%C3%B1o%20de%20la%20encuesta%2C%20seg%C3%BAn%20%20departamento%20y%20acceso%20a%20servicios%20b%C3%A1sicos%20(1).csv")

3/ Datos no disponibles

**Arreglamos el Dataset**
1. Crear columna Departamento
2. Rellenar los 3/ por algo

In [ ]:
copy_df=df.copy()
copy_df = copy_df.rename(columns={'Departamento y acceso a servicios basicos':'Acceso'})
copy_df=copy_df.loc[(copy_df.Acceso != "Porcentaje")]
copy_df=copy_df.loc[(copy_df.Acceso != "Valor absoluto")]

In [ ]:
copy_df = copy_df.replace("3/", 0)

In [ ]:
Departamentos=[]
for i in copy_df['Acceso'].apply(lambda x: x.split()):
  if len(i) == 1:
    Departamentos.append(i[0])
  else:
    Departamentos.append(np.nan)
copy_df['Departamento']=Departamentos
copy_df['Departamento']=copy_df['Departamento'].fillna(method='pad')
copy_df=copy_df.dropna()
copy_df=copy_df.set_index('Departamento')#[copy_df.index, 'Departamento'])
copy_df=copy_df.reset_index()

    Departamento  ...     2018
0       Asuncion  ...     95,6
1       Asuncion  ...     98,1
2       Asuncion  ...     99,8
3       Asuncion  ...  500.031
4       Asuncion  ...  513.482
..           ...  ...      ...
103     Boqueron  ...        0
104     Boqueron  ...        0
105     Boqueron  ...        0
106     Boqueron  ...        0
107     Boqueron  ...        0

[108 rows x 22 columns]

In [ ]:
copy_df.reset_index().iloc[9][3::].values
copy_df=copy_df.apply(lambda x: x.astype(str).str.replace('.',''))
copy_df=copy_df.apply(lambda x: x.astype(str).str.replace(',','.'))

In [119]:
copy_df=copy_df.apply(pd.to_numeric, errors='ignore')
copy_df = copy_df.replace(0, np.NaN)
copy_df['Promedio']=copy_df.mean(axis=1, skipna=True, numeric_only=True)
for i in range (len(copy_df.Acceso)):
  copy_df.iloc[i] = copy_df.iloc[i].fillna(copy_df.iloc[i,-1])

    Departamento  ...       Promedio
0       Asuncion  ...      93.615000
1       Asuncion  ...      98.280000
2       Asuncion  ...      99.565000
3       Asuncion  ...  495021.150000
4       Asuncion  ...  519674.100000
..           ...  ...            ...
103     Boqueron  ...      74.500000
104     Boqueron  ...      92.066667
105     Boqueron  ...    4962.666667
106     Boqueron  ...   12604.000000
107     Boqueron  ...    4030.000000

[108 rows x 23 columns]

In [121]:
copy_df=copy_df.drop(columns=['Promedio'])

    Departamento  ...           2018
0       Asuncion  ...      95.600000
1       Asuncion  ...      98.100000
2       Asuncion  ...      99.800000
3       Asuncion  ...  500031.000000
4       Asuncion  ...  513482.000000
..           ...  ...            ...
103     Boqueron  ...      74.500000
104     Boqueron  ...      92.066667
105     Boqueron  ...    4962.666667
106     Boqueron  ...   12604.000000
107     Boqueron  ...    4030.000000

[108 rows x 22 columns]

In [ ]:
date_time = pd.to_datetime(copy_df.columns[5::], format='%Y')

plot_cols = copy_df.columns[5::]
plot_features = copy_df[plot_cols]
plot_features.index = date_time
_ = plot_features.plot(subplots=True)

plot_features = df[plot_cols]
plot_features.index = date_time
_ = plot_features.plot(subplots=True)
#plot_features

ValueError: ignored

In [ ]:
import os
import datetime

import IPython
import IPython.display
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf

date_time = pd.to_datetime(copy_df.columns, format='%d.%m.%Y %H:%M:%S')

class Valores(tf.keras.Model):
  def __init__(self, label_index=None):
    super().__init__()
    self.label_index = label_index

  def call(self, inputs):
    if self.label_index is None:
      return inputs
    result = inputs[:, :, self.label_index]
    return result[:, :, tf.newaxis]



single_step_window = WindowGenerator(
    # `WindowGenerator` returns all features as labels if you 
    # don't set the `label_columns` argument.
    input_width=1, label_width=1, shift=1)

wide_window = WindowGenerator(
    input_width=24, label_width=24, shift=1)

for example_inputs, example_labels in wide_window.train.take(1):
  print(f'Inputs shape (batch, time, features): {example_inputs.shape}')
  print(f'Labels shape (batch, time, features): {example_labels.shape}')

valores = Valores()
valores.compile(loss=tf.losses.MeanSquaredError(),
                 metrics=[tf.metrics.MeanAbsoluteError()])