In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline
df = pd.read_csv("https://raw.githubusercontent.com/gmfv/YIO/main/datosC2.csv")

 **Eliminamos algunas columnas**

In [ ]:
df = df.drop(df.columns[[0, 1, 2, 3, 5, 7, 12]], axis='columns')
df.head()

   CodCarSec  Anho Aprobado  ...  SegundoRec  NotaFinal  id_anony
0  ELE-PLS13  2017        N  ...           0        NaN   es_1444
1  CGF-PLS13  2017        N  ...           0        NaN   es_4238
2  ELE-PLS13  2017        S  ...           0  1F-1,2F-2   es_4245
3  CIV-PLS13  2017        N  ...           0        NaN   es_4967
4  CGF-PLS13  2017        S  ...           0     3F-C-3    es_414

[5 rows x 10 columns]

**Reemplazamos las salidas por 1 o 0, las carreras por codigos**

In [ ]:
df['Aprobado']=df['Aprobado'].replace(['N', 'S'],['0', '1'])
df['CodCarSec']=df['CodCarSec'].replace(['ELE-PLS13', 'CGF-PLS13', 'CIV-PLS13', 'MCT-PLS13', 'IND-PLS13', 'MEC-PLS13', 'ECA-PLS13'],['0', '1', '2', '3', '4', '5', '6'])
df = df.fillna(0)
df.head()

  CodCarSec  Anho Aprobado  ...  SegundoRec  NotaFinal  id_anony
0         0  2017        0  ...           0          0   es_1444
1         1  2017        0  ...           0          0   es_4238
2         0  2017        1  ...           0  1F-1,2F-2   es_4245
3         2  2017        0  ...           0          0   es_4967
4         1  2017        1  ...           0     3F-C-3    es_414

[5 rows x 10 columns]

In [ ]:
df[df.AnhoFirma == df.Anho]

**Descartamos columnas para facilitar analisis inicial**

---
Solo tenemos en cuenta el rendimiento de primer, segundo parcial y carrera

In [ ]:
X = np.array(df.drop(['NotaFinal', 'Anho','id_anony','Primer.Rec', 'SegundoRec','AnhoFirma','Aprobado'], axis=1))
y = np.array(df['Aprobado'])
X.shape

(451, 3)

In [ ]:
model = linear_model.LogisticRegression()
model.fit(X,y)

In [ ]:
predictions = model.predict(X)
print(predictions)

['0' '0' '0' '0' '1' '0' '0' '0' '0' '1' '1' '1' '0' '1' '0' '0' '1' '0'
 '1' '1' '1' '0' '1' '1' '1' '0' '0' '1' '1' '0' '1' '0' '1' '1' '0' '1'
 '1' '0' '0' '0' '0' '0' '1' '1' '1' '0' '1' '1' '1' '1' '1' '0' '1' '1'
 '1' '0' '0' '1' '0' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '0' '1' '0' '1' '0' '0' '1' '1' '1' '0' '1' '1' '1' '0' '1' '1' '1'
 '1' '1' '1' '1' '1' '0' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '0' '1' '1' '1' '1' '0' '0' '1' '1' '0' '1' '1' '1' '1' '0' '1' '1' '1'
 '1' '1' '1' '0' '1' '0' '0' '1' '0' '1' '1' '1' '0' '1' '1' '0' '1' '1'
 '1' '1' '1' '1' '1' '1' '0' '0' '1' '0' '0' '1' '1' '0' '1' '1' '0' '0'
 '1' '1' '1' '0' '1' '0' '1' '1' '1' '1' '0' '0' '1' '1' '1' '1' '1' '1'
 '1' '0' '1' '1' '0' '1' '1' '1' '1' '1' '1' '1' '1' '0' '1' '1' '1' '1'
 '0' '1' '1' '1' '1' '1' '1' '1' '1' '0' '1' '1' '1' '1' '1' '1' '0' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '0' '1' '0' '1' '1'
 '1' '0' '1' '1' '1' '1' '1' '0' '1' '0' '0' '1' '0' '1' '0' '0' '0' '0'
 '0' '1' '1' '0' '1' '1' '1' '1' '1' '1' '1' '1' '0' '1' '0' '1' '0' '1'
 '1' '0' '0' '1' '1' '1' '0' '1' '1' '0' '0' '1' '1' '0' '0' '0' '1' '1'
 '0' '0' '1' '1' '0' '1' '1' '1' '1' '1' '1' '0' '1' '1' '0' '1' '0' '1'
 '1' '0' '1' '1' '1' '1' '1' '1' '0' '1' '0' '0' '1' '1' '1' '1' '1' '1'
 '1' '0' '1' '1' '0' '1' '0' '1' '1' '1' '1' '0' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '0' '0' '1' '0' '1' '0' '0' '1' '1' '1' '1' '0' '0' '1'
 '1' '1' '0' '1' '1' '1' '0' '1' '1' '1' '1' '1' '1' '1' '1' '1' '0' '0'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '0' '1' '1' '1' '1' '1' '1' '0' '1'
 '0' '1' '0' '1' '1' '1' '0' '0' '1' '0' '1' '1' '1' '1' '1' '0' '1' '0'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '0' '1' '0' '1' '1' '0'
 '1' '1' '1' '0' '0' '0' '0' '1' '1' '1' '1' '1' '1' '1' '1' '0' '1' '0'
 '0']

In [ ]:
model.score(X,y)

0.7960088691796009

In [ ]:
#VALIDACION
validation_size = 0.20
seed = 7
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(X, y, test_size=validation_size, random_state=seed)

In [ ]:
name='Logistic Regression'
kfold = model_selection.KFold(n_splits=10, random_state=seed)
cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring='accuracy')
msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
print(msg)

In [ ]:
predictions = model.predict(X_validation)
print(accuracy_score(Y_validation, predictions))

0.7472527472527473

In [ ]:
print(confusion_matrix(Y_validation, predictions))

[[19 11]
 [12 49]]

**Prueba**

In [ ]:
X_new = pd.DataFrame({'Codcarsec': [3], 'PrimerPar': [0], 'SegundoPar': [24]})
model.predict(X_new)

array(['1'], dtype=object)

# Nueva secci√≥n